name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build ./TD2-docker/website  --tag ghcr.io/charlesbouquet1011/vir:1 && docker push ghcr.io/charlesbouquet1011/vir:1
